<!DOCTYPE html>
<html lang="en">
  <head> <!-- ===( CODE AASHU )=== -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./static/styles.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel = "icon" href = "./static/assets/logo.png">
    <title>CODE AASHU | Yogalax</title>
  </head>
  <body>
    <nav>
      <div class="nav__logo">
        <img src="./static/assets/logo.png" alt="logo" />
        <span>YOGALAX</span>
      </div>
      <ul class="nav__links">
        <li class="link"><a href="#home">Home</a></li>
        <li class="link"><a href="#classes">Library</a></li>
        <li class="link"><a href="#stories">About</a></li>
        <li class="link"><a href="#posts">Blog</a></li>
        <li class="link"><a href="#Community">Community</a></li>
        <li class="link"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <header id="home">
      <div class="section__container header__container">
        <div class="header__content">
          <h1>Effective YOGA</h1>
          <h2>Do yoga today for better tomorrow</h2>

          <form method="POST" action="/images" enctype="multipart/form-data">
            <input type="file" id="upload" hidden name="Image" accept="image/*"/>
            <h1>  </h1>
            <label for="upload" class="btn">Choose file</label>
  
            <!-- <input type="file" class="btn" name="video" accept="video/*" /> -->
            <input type="submit" class="btn" value="Upload" />
          </form>
          <br>            <br>
          <a href="/lives" class="btn btn-secondary">Go Live</a>

        </div>
        <div class="header__image">
          <img src="./static/assets/header.jpg" alt="header" />
        </div>
      </div>
    </header>

    <section class="section__container why__container">
      <div class="why__image">
        <img src="./static/assets/why.jpg" alt="why yoga" />
      </div>
      <div class="why__content">
        <h2 class="section__header">Why You Should Go To Yoga</h2>
        <p>
          Engaging in yoga offers a holistic approach to wellness, encompassing
          both physical and mental benefits. Through a series of poses,
          stretches, and muscle strength. Its meditative aspects encourage
          mindfulness, reducing stress and anxiety while promoting a sense of
          inner peace.
        </p>
        <ul>
          <li>
            <span><i class="ri-checkbox-circle-fill"></i></span>
            Yoga boosts brain power
          </li>
          <li>
            <span><i class="ri-checkbox-circle-fill"></i></span>
            Yoga helps you to breathe better
          </li>
          <li>
            <span><i class="ri-checkbox-circle-fill"></i></span>
            Yoga improves your strength
          </li>
          <li>
            <span><i class="ri-checkbox-circle-fill"></i></span>
            Yoga helps you to focus
          </li>
          <li>
            <span><i class="ri-checkbox-circle-fill"></i></span>
            Yoga helps give meaning to your day
          </li>
        </ul>
      </div>
    </section>

    <section class="hero" id="hero">
      <div class="section__container hero__container">
        <div class="hero__card">
          <span><img src="./static/assets/icon-1.png" alt="hero" /></span>
          <h4>Healthy Lifestyle</h4>
          <p>
            Embrace a healthy lifestyle through the transformative power of yoga
            and cultivate physical vitality and inner peace.
          </p>
        </div>
        <div class="hero__card">
          <span><img src="./static/assets/icon-2.png" alt="hero" /></span>
          <h4>Body & Mind Balance</h4>
          <p>
            Through purposeful poses and mindful breathing, yoga cultivates a
            strong, flexible body while nurturing inner calm.
          </p>
        </div>
        <div class="hero__card">
          <span><img src="./static/assets/icon-3.png" alt="hero" /></span>
          <h4>Meditation Practice</h4>
          <p>
            Discover inner serenity and mindfulness as you cultivate a profound
            connection with the present moment.
          </p>
        </div>
        <div class="hero__card">
          <span><img src="./static/assets/icon-4.png" alt="hero" /></span>
          <h4>Self-Care</h4>
          <p>
            Discover the transformative power of self-care through yoga and
            embrace moments of tranquility and mindfulness.
          </p>
        </div>
      </div>
    </section>


    <section class="section__container classes__container" id="classes">
    <p class="section__subheader">YOGA</p>
    <h2 class="section__header">Pose Library</h2>
    <div class="classes__grid">
        <div class="classes__image">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Fr5kiIygm0c" frameborder="0" allowfullscreen></iframe>
            
        </div>
        <div class="classes__image">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Mn6RSIRCV3w" frameborder="0" allowfullscreen></iframe>
            
        </div>
        <div class="classes__image">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pVmOOluGAv8" frameborder="0" allowfullscreen></iframe>
            
        </div>
        <div class="classes__image">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_NNnowkcIqU" frameborder="0" allowfullscreen></iframe>
            
        </div>
        <div class="classes__image">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CZGtSaOvb50" frameborder="0" allowfullscreen></iframe>
            
        </div>
        <div class="classes__image">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MGj1eknWWTo" frameborder="0" allowfullscreen></iframe>
            
        </div>
    </div>
</section>


    <!-- <section class="section__container classes__container" id="classes">
      <p class="section__subheader">YOGA</p>
      <h2 class="section__header">Pose Library</h2>
      <div class="classes__grid">
        <div class="classes__image">
          <img src="assets/classes-1.jpg" alt="classes" />
          <div class="classes__content">
            <button class="btn classes__btn">View More</button>
          </div>
        </div>
        <div class="classes__image">
          <img src="assets/classes-2.jpg" alt="classes" />
          <div class="classes__content">
            <button class="btn classes__btn">View More</button>
          </div>
        </div>
        <div class="classes__image">
          <img src="assets/classes-3.jpg" alt="classes" />
          <div class="classes__content">
            <button class="btn classes__btn">View More</button>
          </div>
        </div>
        <div class="classes__image">
          <img src="assets/classes-4.jpg" alt="classes" />
          <div class="classes__content">
            <button class="btn classes__btn">View More</button>
          </div>
        </div>
        <div class="classes__image">
          <img src="assets/classes-5.jpg" alt="classes" />
          <div class="classes__content">
            <button class="btn classes__btn">View More</button>
          </div>
        </div>
        <div class="classes__image">
          <img src="assets/classes-6.jpg" alt="classes" />
          <div class="classes__content">
            <button class="btn classes__btn">View More</button>
          </div>
        </div>
      </div>
    </section> -->


   

    <!-- <section class="membership" id="membership">
      <div class="section__container membership__container">
        <p class="section__subheader">PRICING TABLE</p>
        <h2 class="section__header">Membership Cards</h2>
        <div class="membership__grid">
          <div class="membership__card">
            <h4>YEAR CARD</h4>
            <h2><sup>₹</sup>6999</h2>
            <h3>For 1 Year</h3>
            <h4>ENJOY ALL THE FEATURES</h4>
            <p>Onetime access to all club</p>
            <p>Group trainer</p>
            <p>Book a group class</p>
            <p>Fitness orientation</p>
            <button class="btn membership__btn">GET STARTED</button>
          </div>
          <div class="membership__card">
            <h4>MONTHLY CARD</h4>
            <h2><sup>₹</sup>600</h2>
            <h3>For 1 Month</h3>
            <h4>ENJOY ALL THE FEATURES</h4>
            <p>Group classes</p>
            <p>Discuss fitness goals</p>
            <p>Group trainer</p>
            <p>Fitness orientation</p>
            <button class="btn membership__btn">GET STARTED</button>
          </div>
          <div class="membership__card">
            <h4>WEEKLY CARD</h4>
            <h2><sup>₹</sup>150</h2>
            <h3>For 1 Week</h3>
            <h4>ENJOY ALL THE FEATURES</h4>
            <p>Access to yoga area</p>
            <p>Group trainer</p>
            <p>Group classes</p>
            <p>Fitness orientation</p>
            <button class="btn membership__btn">GET STARTED</button>
          </div>
        </div>
      </div>
    </section> -->

    <section class="section__container stories__container" id="stories">
      <p class="section__subheader">TESTIMONY</p>
      <h2 class="section__header">About us</h2>
      <div class="stories__grid">
        <div class="stories__card">
          <div class="stories__content">
            <span><i class="ri-double-quotes-l"></i></span>
            <p>
               At Yogalax, we're dedicated to revolutionizing the way people practice yoga. Our mission is to empower yoga enthusiasts of all levels with cutting-edge technology that enhances their practice and promotes well-being.
            </p>
          </div>
          <div class="stories__author">
            <img src="./static/assets/stories-1.jpg" alt="author" />
            <div class="stories__author__details">
              <h4>Our Mission</h4>
              <!-- <h6>Trainer</h6> -->
            </div>
          </div>
        </div>
        <div class="stories__card">
          <div class="stories__content">
            <span><i class="ri-double-quotes-l"></i></span>
            <p>
              Our state-of-the-art live yoga detection model utilizes advanced computer vision algorithms to analyze your yoga poses in real-time. With just a camera and our platform, you can receive instant feedback and guidance on your form, ensuring a safer and more effective practice.
            </p>
          </div>
          <div class="stories__author">
            <img src="./static/assets/stories-2.jpg" alt="author" />
            <div class="stories__author__details">
              <h4>Live Yoga Detection Model</h4>
              <!-- <h6>Member</h6> -->
            </div>
          </div>
        </div>
        <div class="stories__card">
          <div class="stories__content">
            <span><i class="ri-double-quotes-l"></i></span>
            <p>
              We understand the importance of proper alignment and technique in yoga. That's why we've curated a comprehensive library of yoga poses for reference. Whether you're a beginner or an experienced yogi, our pose library provides detailed instructions and benefits for each pose to support your practice.
            </p>
          </div>
          <div class="stories__author">
            <img src="./static/assets/stories-3.jpg" alt="author" />
            <div class="stories__author__details">
              <h4>Pose Library for Reference</h4>
              <!-- <h6>Member</h6> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="banner">
      <div class="section__container banner__container">
        <div class="banner__card">
          <h4>10.00</h4>
          <p>Poses</p>
        </div>
        <div class="banner__card">
          <h4>6.000</h4>
          <p>Library</p>
        </div>
        <div class="banner__card">
          <h4>4.000</h4>
          <p>Teachers</p>
        </div>
        <div class="banner__card">
          <h4>3.000</h4>
          <p>Blogs</p>
        </div>
      </div>
    </section>

    <section class="posts" id="posts">
      <div class="section__container posts__container">
        <p class="section__subheader">BLOG</p>
        <h2 class="section__header">Recent Posts</h2>
        <div class="posts__grid">
          <div class="posts__card">
            <img src="./static/assets/posts-1.jpg" alt="post" />
            <div class="posts__content">
              <div class="posts__date">
                <span>01</span>
                <div>
                  <p>2024</p>
                  <p>January</p>
                </div>
              </div>
              <h4>Unlocking Inner Peace</h4>
              <p>
                Dive into the practices that help you cultivate inner peace,
                reduce stress, and enhance your overall well-being.
              </p>
            </div>
          </div>
          <div class="posts__card">
            <img src="./static/assets/posts-2.jpg" alt="post" />
            <div class="posts__content">
              <div class="posts__date">
                <span>25</span>
                <div>
                  <p>2024</p>
                  <p>Febuary</p>
                </div>
              </div>
              <h4>From Desk to Mat</h4>
              <p>
                Learn incorporating simple yoga stretches and breathing
                techniques to counter effects of sedentary lifestyle.
              </p>
            </div>
          </div>
          <div class="posts__card">
            <img src="./static/assets/posts-3.jpg" alt="post" />
            <div class="posts__content">
              <div class="posts__date">
                <span>06</span>
                <div>
                  <p>2024</p>
                  <p>March</p>
                </div>
              </div>
              <h4>Yoga Through the Ages</h4>
              <p>
                From prenatal yoga to gentle senior yoga, discover enhance
                flexibility and foster a lifelong love for well-being.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section__container photos__container" id="Community">
      <p class="section__subheader">Community</p>
      <h2 class="section__header">Connect With Best Teachers</h2>
      <div class="photos__grid">
       

    <div class="photos__card">
        <a href="https://www.instagram.com/kinoyoga/?hl=en">
            <img src="./static/assets/teacher1.jpg">
            <div class="classes__content">
                    <button class="btn classes__btn">View More</button>
                </div>
        </a>
    </div>

          <!-- <img src="assets/photos-1.jpg" alt="photo" /> -->
        
        <div class="photos__card">
        <a href="https://www.instagram.com/rodneyyeeyoga/?hl=en">
            <img src="./static/assets/teacher2.jpg">
            <div class="classes__content">
                    <button class="btn classes__btn">View More</button>
                </div>
        </a>
    </div>

        <div class="photos__card">
        <a href="https://www.instagram.com/seanecorn/">
            <img src="./static/assets/teacher3.jpg">
            <div class="classes__content">
                    <button class="btn classes__btn">View More</button>
                </div>
        </a>
    </div>

        <div class="photos__card">
        <a href="https://www.instagram.com/tiffanycruikshank/?hl=en">
            <img src="./static/assets/teacher4.jpg">
            <div class="classes__content">
                    <button class="btn classes__btn">View More</button>
                </div>
        </a>
    </div>
      </div>
    </section>

    <section class="contact_section " id="contact">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img-box">
            <!-- <img src="images/contact-img.jpg" alt=""> -->
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="form_container pr-0 pr-lg-5 mr-0 mr-lg-2">
            <div class="heading_container">
              <h2>
                Contact Us
              </h2>
            </div>
            <form action="">
              <div>
                <input type="text" placeholder="Name" />
              </div>
              <div>
                <input type="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="d-flex ">
                <button>
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


    <footer class="footer">
      <div class="section__container footer__container">
        <div class="footer__col">
          <div class="footer__logo"><a href="#">Yogalax</a></div>
        </div>
        <div class="footer__col">
          <p><a href="#Privacy Policy">Privacy Policy</a> | <a href="#Terms of Service">Terms of Service</a> | <a href="#Contact Us">Contact Us</a> | <a href="#about-us">About Us</a></p>
        </div>
        <div class="footer__col">
          <div class="footer__socials">
            <a href="https://twitter.com/this_is_anas_"><i class="ri-twitter-fill"></i></a>
            <a href="https://www.youtube.com/channel/UC8agoum3Q6cZ63nLXnzf5Tg"><i class="ri-youtube-fill"></i></a>
            <a href="https://www.instagram.com/this.is.guts/"><i class="ri-instagram-line"></i></a>
          </div>
        </div>
      </div>
      <section id="Privacy Policy">
      <div class="section__container footer__bar">
        Copyright © 2024 Anas. All rights reserved.
      </div>
    </section>
    </footer>

    <script src="./static/main.js"></script>
  </body>
</html>
